<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpModules>
            <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
        </httpModules>
        <!--==================================================================
        会话状态存储
        ======================================================================
        第一种：StateServer 会话状态服务 ASP.NET状态服务
        注意到：文件web.config文件里面这 <system.web>    添加   <sessionState mode="StateServer"></sessionState>   StateServer会话 状态服务 Asp.net状态服务
        添加这个的到服务器管理那把 ASP.NET 状态服务启动

        第二种：SQLserver (Web集群) 把会话存储到 sqlserver中
        <sessionState mode="SQLServer"></sessionState> 把 ASP.NET 状态服务关闭 在数据库的有一个 ASPState 数据库 ，没的就找 Microsoft Visual Studio 2010 >> Visual Studio Tools >> Visual Studio x64 Win64 命令提示(2010)
        输入命名  aspnet_regsql.exe -S localhost -E -ssadd   localhost是数据库服务器的名称如默认就可以了
        要是移除就是 aspnet_regsql.exe -S localhost -E -ssremove
        -->
        <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />-->
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="10" />
        
        <!--允许提交代码 Request.Form 值 还需要在网页前台头部加上这句  Page validateRequest="false"-->
        <!--如这里出错提示大小写则把IIS里面asp.net应用池改成4.0以上-->
        <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="10485760" executionTimeout="3600" />
        
        <!--全局编码-->
        <!--<globalization fileEncoding="gb2312" requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN"/>-->
        
        <!-- 设置POST 上传数据大小，和超时时间  10485760 10MB-->
        <!--<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>-->
        
        <!--=============================================================================================================================-->
        <!--配置Forms身份认证 不允许匿名用户访问，否则跳转到Login.aspx 页面 -->
        <authentication mode="Forms">
            <forms name="yepengshao" path="/" loginUrl="~/Error/AdministratorLogin.aspx" protection="All" timeout="120" />
        </authentication>
        <authorization>
            <allow users="?" />
            <!--代表允许所有的匿名用户-->
            <!--<deny users="?"/>用于拒绝所有匿名用户-->
        </authorization>
        <!--<identity impersonate="true" userName="Administrator" password="bianjing"/>给系统权限-->
        
        <!--===【下面已经定义了一个404,这里不需要开启】==========================================================================================================================-->
        <!--<customErrors mode="On" defaultRedirect="/error/404.html">
            <error statusCode="404" redirect="/error/404.html" />
        </customErrors>-->
        <!--<customErrors mode="Off"/>-->
    </system.web>

    <!--=============================================================================================================================-->
    <!--不允许访问的文件文件夹-->
    <location path="admin">
        <system.web>
            <authorization>
                <allow roles="admin" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <!--不允许访上传文件夹-->
    <location path="Upload">
        <system.web>
            <authorization>
                <allow roles="admin" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <!--设置user目录的访问权限-->
    <location path="user">
        <system.web>
            <authorization>
                <allow roles="Users" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <!--不允许访问的文件文件夹-->
    <location path="Function">
        <system.web>
            <authorization>
                <allow roles="admin,Users" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <!--设置Bpwen目录的访问权限-->
    <location path="Bpwen">
        <system.web>
            <authorization>
                <allow roles="Bpwen" />
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <!--=============================================================================================================================-->

    <!--数据库链接-->
    <connectionStrings>
        <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=HRMS;User ID=sa;Password=123456;" />
    </connectionStrings>
    <appSettings>
        <!--数据访问层程序集名称 -->
        <add key="DAL" value="HRMS.SQLServerDAL" />
        <!--实体对象内容缓村的时间（分钟）-->
        <add key="ModelCache" value="30" />
        <!--文件上传保存路径-->
        <add key="FCKeditor:UserFilesPath" value="~/tools/upload/public/image/" />
        <!--上传文件是否随机改名  true启用 false不启用-->
        <add key="FCKeditor:UserFilesName" value="true" />
        <!--禁用BrowserLink-->
        <add key="vs:EnableBrowserLink" value="false" />
    </appSettings>
    
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules>
            <remove name="TelemetryCorrelationHttpModule" />
            <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
        <handlers>
          <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
          <remove name="OPTIONSVerbHandler" />
          <remove name="TRACEVerbHandler" />
          <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="origin,x-requested-with,content-type" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
